@page "/"

<PageTitle>Home</PageTitle>

<h1>Sistema de Reporte para DGII</h1>

<p>Aplicación Blazor para llevar reportes de un colmado o bodega.</p>

<a class="btn btn-primary" href="/reporte-dgii">Ir al formulario de reporte</a>
